{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver",
      {
        "alias": {
          "@server": "./src/server",
          "@util": "./src/util",
          "@hooks": "./src/hooks",
          "@colors": "./src/constants/colors",
          "@shared": "./src/components/_shared",
          "@icons": "./src/components/_shared/Icons",
          "@context": "./src/components/Context",
          "@table": "./src/components/Table",
          "@theme": "./src/components/Theme",
          "@composite": "./src/components/Composite",
          "@sort": "./src/components/Sort",
          "@select": "./src/components/Select",
          "@tree": "./src/components/Tree",
          "@resize": "./src/components/Resize",
          "@expand": "./src/components/Expand"
        }
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  }
}
